<h1><%=@sessions[:item]%></h1>

<form action="/checkout" method="post">
  <label for="item">Insert Item: </label>
  <input id="item" name="item" type="text">
  <input type="submit" id="submit"
</form>